input[type=checkbox]:checked + label {
    color: #f00;
    text-decoration: line-through;
    font-weight: 500;

  } 
 
 .card{
    
        max-height: auto
 }
 .inpu{
     border-color: white;
     width: 280px;
     border-style:none ;
     padding-left: 10px;
     padding-bottom: 10px;
     font-size: large;   

    
 }

.group{
    
    border-color: white;
    background: linear-gradient(
        180deg,rgb(245, 71, 88),rgb(245, 71, 88));
        padding-bottom: 15px;
        border-style: none;
}
.App{
width: auto;
height: auto;
background: linear-gradient(
      180deg,rgb(245, 71, 88),rgb(245, 113, 126),rgb(245, 113, 126));
    z-index: 50;
    
min-width: auto;
min-height: auto;
margin-top: 20px;
}
.list{
    border: null;
}
.style{
    margin-left: 3px;
}
.button{
    font-weight: bold ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
    height: 40px;
    padding-bottom: 10px;
}
Button{
    font:bolder;
}


.head{
    color: white;
    text-align: center;
    background: linear-gradient(
      180deg,rgb(245, 71, 88),rgb(245, 71, 88));
    font-size: 25px;
    
    padding-bottom: 25px;
   
}
